<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    {{> header}}
    <h3>Welcome {{name}}</h3>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Et adipisci, cum facilis odit natus nesciunt tempora dignissimos porro praesentium illum odio? Iusto soluta nulla dicta ipsum reprehenderit, provident distinctio velit.</p>
    {{> footer}}
</body>
</html>